@charset "utf-8";
@import "./variables.scss";

.site-footer{
  display: flex;
  background-color:$darkblue;
  opacity: 0.6;
  height: 45px;
  width: 100%;
  bottom: 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 100%;
  z-index: 20;

  .footer-logo{
    display: flex;
    align-self: center;
    padding-top: 0.3em;
    padding-left: 3em;
    img {
      max-width: 170px;
      height:auto;
      object-fit:cover;
    }
  }

  .footer-dept{
    padding-right: 5em;
    padding-left: 2em;
    font-size: .9rem;
    line-height: 1.2rem;
    color: $greydark;
  }
}