@charset "utf-8";
@import "./variables.scss";


// classes in use: content-area > panelImage > panelsContainer > panel > panel${id} > panelContent > panelTitle, panelName, panelText, panelLinkButton


.panelsContainer {
  display: flex;
  flex: 1 1 100%;
  min-height: 87vh;
  flex-direction: row;
  position: relative;
  // background-image: url("https://source.unsplash.com/3VSgApkySLA/1500x1500");



  .panel{
    display: flex;
    flex: 1 1 auto;
    z-index: 20;
    transition:
    // min-width 0.3s ease-in-out 0.3s,
    opacity 0.5s ease-in-out 0.3s,
    filter 0.3s ease-in-out 0.3s;

    .panelImage{
      top: 0;
      width: 100vw;
      height: 87vh;
      background-image: url("https://source.unsplash.com/3VSgApkySLA/1500x1500");
      background-color: teal;
      opacity: 80%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      flex-wrap: no-wrap;
      overflow: hidden;
      filter: grayscale(0.85);
      z-index: 5;
      display: none;
    }

    .panelContent {
      display: flex;
      margin: 1em 2em 1em 2em;
      min-height: 10%;
      max-height: 200px;
      background-image: radial-gradient($background--80, $dkblue);
      flex: 1 1 100%;
      top: 0;
      position: absolute;
      margin:  1em 0 1em 2.5em;
      align-items: flex-start;
      flex-direction: column;

      .panelTextBox{
        display: flex;
        flex-direction: column;
        margin: 0;
        // min-width: 5rem;
        // max-width: 10rem;

        .panelTitle, .panelFirstName {
          display: flex;
          flex: 1 1 100%;
          font-family:'Nova Square', sans-serif;
          font-size: 1.3em;
          letter-spacing: 0.1ch;
          text-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
        }
        .panelLastName {
          display: flex;
          color: $LightSteelBlue;
          flex: 1 1 100%;
          font-family:'Alfa Slab One';
          font-size: 1.8em;
          // font-weight: 200;
          // margin: 0.2em 0;
          text-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
        }
      }
      .panelText {
        display: flex;
        // max-width: 6rem;
        line-height: 1.4;
        font-family:'Nova Square', sans-serif;
        font-size: 1.3em;
        opacity: 0;
        text-shadow: 0 4px 6px rgba(0, 0, 0, 0.72);
        margin: 0;
        padding: 0.5em 1em 0.5em 0;
      }
      .linkText {
        font-family:'Nova Square', sans-serif;
        font-size: 1em;
        color: $gray-20;
        background-color: $gray-80;
        transition:
          color 0.3s ease-in-out 0.3s,
          background-color 0.3s ease-in-out 0.3s;

        &:hover{
          color: $gray-40;
          background-color: $menublue;
        }
      }
    } //end panelContent

    &:hover{
      transition: filter 0.3s, min-height 0.3s ease-in-out 0.3s;
      filter: grayscale(0.05);

      .panelText{
        transition: opacity 0.3s ease-in-out 0.3s;
        opacity: 1;
      }

    }
  } // end of .panel
} //end panelsContainer

@media only screen and (max-width: 1200px) {
  .panel {
    font-size: 0.9em;
  };
}
@media only screen and (max-width: 900px) {
  .panelsContainer{
    flex-direction: column;
    .panel {
      flex-direction: row;
      max-height: 14%;
      filter: grayscale(0.01);
      .panelContent {
        top: 2rem;
        flex-direction: row;
        margin: 0 0 0 5rem;
        .panelTextBox{
          margin: 0;
        }
        .panelText {
          top: 2rem;
          margin: 0;
          opacity: 1;
        }
      }

      &:hover{
        transition: filter 0.3s ease-in-out 0.3s;
        filter: grayscale(0.01);
      }
    }
  }

  .article {
    margin-left: 4%;
    margin-right: 4%;
  }
}
