@charset "utf-8";
@import "./variables.scss";

.page-submenu{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 0 12% 0 12%;
  border-radius: 6px 6px 0 0; //top box with rounded top corners
  background-color: $background--80;
  background-image:  url("../assets/images/overlay.png");
  // border-bottom: 4px dashed $ubatuba;
  transition: all .4s ease-in-out;

  .bubble-link {
    padding: 1em 0.5em ;
    max-width: 180px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    transition: all .4s ease-in-out;

      .bubble-frame{
        position: relative;
        width: 4rem;
        height: 4rem;
        overflow: hidden;
        background-color: $gray-60;
        border: 1px solid $ubatuba;
        border-radius: $border-radius;
        filter: grayscale(0.8);
        margin: 10px;

        img.bubble-image{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .bubble-text-link{
        .bubble-text {
          font-family: 'Oswald', sans-serif;
          font-weight: 700;
          font-size: 0.9em;
          color: $gray-40;

          &.active {
            transition: all .3s ease-in-out;
            color: $WhiteSmoke;
          }
        }
      }

    &.active {
      transition: all .3s ease-in-out;
      color: $ubatuba;

      .bubble-frame{
        transition: all .4s ease-in-out;
        border: 1px solid $ubatuba;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.20);
        filter: grayscale(0.1);
      }
    }

    &.bubble-link:focus,
    &.bubble-link:hover  {
      transition: all .3s ease-in-out;
      color: $gray-40;

      .bubble-frame{
        border: 1px solid $ubatuba--70;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.4);
        filter: brightness(0.8);
        transition: all .3s ease-in-out;
      }
      .bubble-text {
        transition: all .3s ease-in-out;
        color: $gray-60;
      }
    }
  } //end bubble-link

  @media only screen and (max-width: 1200px) {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    // flex-direction: column;
    margin: 0 8% -2px 8%;
   }
  /* Medium screens */
  @media only screen and (max-width: 950px) {
    margin-left: 8%;
    margin-right: 8%;

  }

  @media only screen and (max-width: 650px) {
      margin-left: 2%;
      margin-right: 2%;
  }
}