@charset "utf-8";
@import "./variables.scss";

table{
  border-collapse: collapse;
  width: 100%;
  min-width: 350px;
  vertical-align: center;
  background-color: $DimGray;
  background-image: url("../assets/images/y-so.png");
  color:$Silver;
}

tr th {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  text-indent: 0;
  padding: 1.5em;
  background-color: $menublue--70;
  color:$Silver;

}
td {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: $Silver;
  align-self: center;
  padding: 0.7em;
  padding-left: 1.5em;
  border-bottom: 1px solid $gray-80;
  background-color: $background--50;
}
td.right{
  text-align: right;
  padding-right: 2em;
}
tfoot tr{
  align-items: center;
  background-color: $menublue--50;
  height: 1em;
}

tbody tr:hover {
  background-color: $background--50;
}
// tr:nth-child(even) {
//   background-color: $gray-20;
// }

tr.t-total{
  background-color: $ubatuba--30;
  &:hover{
    background-color: lighten($ubatuba--30, 10) ;
  }
}
tr.sub-head{
  background-color: $ubatuba--30;

  &:hover{
    background-color: darken($ubatuba--30, 10) ;
  }
}
tr.sub-total{
  background-color: darken($ubatuba--70, 8);

  &:hover{
    background-color: lighten($ubatuba--70, 5) ;
  }
}

.table-overview {
  // overflow-y: scroll; //responsive
  background-color: transparent;
  border-radius: $border-radius-half;
  align-items: start;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.20);
  transition: all 0.3s;
  min-width: 350px;
  height: fit-content;
  width: 100%;
}
.wider-table{
  min-width: 650px;
}

ul, li, .card-bottom{
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .wider-table{
    min-width: 95%;
  }

}
@import "./grid-cards.scss";
