$val: 1;
$values: 0 0 100px;
$border-radius: 2px;
$border-radius-half: 1px;

$box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.20);
$box-shadow3: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 4px 4px rgba(0, 0, 0, 0.4);
$drop-shadow: drop-shadow(1px 1px 0 rgba(255, 255, 255, .5));
$drop-shadow3: drop-shadow(3px 3px 3px rgba(255, 255, 255, .5));


$white: white;

$ubatuba: #68766D;
// $ubatuba--10: rgba(104,118,109, .1);
$ubatuba--30: rgba(104,118,109, .3);
$ubatuba--50: rgba(104,118,109, .5);
$ubatuba--70: rgba(104,118,109, .7);
$ubatuba--90: rgba(104,118,109, .9);
$ubatuba-menu: rgba(24,100,64, 1);

$dkblue: rgb(33,47,60);
$menublue: rgb(17, 170, 161);
$menublue--30: rgba(33, 47, 90, 0.3);
$menublue--50: rgba(33, 47, 90, 0.5);
$menublue--70: rgba(33, 47, 90, 0.7);
$menublue--90: rgba(33, 47, 90, 0.0);
// $amazon: #0d4773; //13 71 115

$LightSteelBlue: #B0C4DE;

$gray-80: #2b2b2b; // 43 43 43
$gray-60: #646464; // 100 100 100
$gray-50: #C0C0C0;// 192 192 192;
$gray-40: #949494; //148 148 148
$gray-20: #DCDCDC; //220 220 220;
$gray-10: #f5f5f5; // 245 245 245;

$gray-95: rgba(20,21,19,0.95);
$gray: #e7e7e7; //231 231 231
$mercury: #e5e7e3;
// $jaguar: #2B2B2B;

// $background: #e7e5e3;
$background--10: rgba(59, 100, 135, 0.1);
$background--20: rgba(59, 100, 135, 0.2);
$background--40: rgba(59, 100, 135, 0.4);
$background--50: rgba(59, 100, 135, 0.5);
$background--80: rgba(59, 100, 135, 0.8);
$background: rgba(59, 100, 135, 1);

// beige with transparency
$beige-light--10: rgba(208, 209, 205, .1);
$beige-light--30: rgba(208, 209, 205, .3);
$beige-light--70: rgba(208, 209, 205, .7);
// $beige-lighter--40: rgba(239, 240, 235, .4);
// $beige-lighter--60: rgba(239, 240, 235, .6);
// $beige-lighter--80: rgba(239, 240, 235, .8);
